html, body, ul, li, ol, dl, dd, dt, p, b, input, select, em, i, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img {
  margin: 0;
  padding: 0; }

fieldset, img, input {
  border: none; }

img {
  display: block; }

address, caption, cite, code, dfn, th, var {
  font-style: normal;
  font-weight: normal; }

ul, li, ol {
  list-style: none; }

body {
  color: #333;
  padding: 5px 0;
  font: 12px/20px "SimSun","microsoft yahei","Arial Narrow",HELVETICA;
  background: #fff;
  /* overflow-y:scroll;*/
  overflow-x: hidden; }

a, b {
  color: #666;
  text-decoration: none; }

b {
  font-weight: normal; }

a:visited {
  color: #666; }

a:hover, a:active, a:focus {
  text-decoration: underline; }

#topbar {
  width: 1308px;
  height: 24px;
  background: #f1f1f1;
  border-bottom: 1px solid #e2e2e2;
  position: relative; }
  #topbar ul {
    padding-left: 60px;
    line-height: 24px;
    float: left;
    width: 200px; }
    #topbar ul li {
      width: 50px;
      padding: 0 15px;
      float: left; }
    #topbar ul li:nth-child(2n+1) {
      background: url(../images/topbar.png) no-repeat left 7px; }
    #topbar ul li:nth-child(2n+1):hover {
      background: url(../images/topbar.png) no-repeat left -13px; }
    #topbar ul li:nth-child(2n) {
      background: url(../images/topbar.png) no-repeat left -127px;
      padding-left: 22px; }
    #topbar ul li:nth-child(2n):hover {
      background: url(../images/topbar.png) no-repeat left -152px; }
  #topbar p {
    float: right; }
    #topbar p a {
      width: 44px;
      text-align: center;
      line-height: 24px; }
  #topbar dl {
    float: right;
    line-height: 24px;
    padding: 0 58px 0 15px; }
    #topbar dl dd {
      float: left;
      width: 62px;
      padding: 0 8px; }
      #topbar dl dd a {
        float: left; }
      #topbar dl dd a:hover {
        text-decoration: none; }
      #topbar dl dd img {
        float: left;
        padding: 10px 0 0 8px; }
    #topbar dl dt {
      float: left;
      width: 50px;
      padding: 0 8px; }
  #topbar .myegg {
    position: absolute;
    top: 24px;
    left: 987px;
    width: 101px;
    line-height: 35px;
    height: 35px;
    background: #fff;
    border: 1px solid #000;
    clear: both;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    display: none;
    border: 1px solid #eee;
    z-index: 5;
    padding-left: 17px; }
    #topbar .myegg a {
      text-decoration: underline;
      display: inline;
      float: none;
      color: #039; }
    #topbar .myegg a:hover {
      text-decoration: underline; }
  #topbar .sevice {
    position: absolute;
    top: 24px;
    left: 1103px;
    width: 126px;
    height: 93px;
    padding: 3px 10px 6px 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    background: #fff;
    border: 1px solid #eee;
    z-index: 5;
    display: none; }
    #topbar .sevice dl {
      height: 36px;
      padding: 5px 0 0 10px;
      width: 115px;
      overflow: hidden; }
      #topbar .sevice dl dt {
        color: #fe7b23;
        font: bold 14px/18px tahoma;
        width: 115px;
        padding: 0; }
      #topbar .sevice dl dd {
        font: bold 12px/18px tahoma;
        width: 115px;
        padding: 0; }
    #topbar .sevice span {
      display: inline-block;
      height: 18px;
      padding: 0 0 8px 10px;
      width: 115px;
      line-height: 18px;
      font-family: tahoma;
      clear: both; }
    #topbar .sevice a {
      display: block;
      float: left;
      background: #4f9ee7;
      height: 25px;
      width: 60px;
      line-height: 25px;
      color: #fff;
      text-align: center; }
    #topbar .sevice a:hover {
      text-decoration: none; }
    #topbar .sevice .youj {
      margin-left: 4px; }
  #topbar .active {
    background-color: #fff;
    border: 1px solid #fff; }

#header {
  width: 1308px; }
  #header .ad {
    margin: 0 54px;
    position: relative;
    width: 1200px;
    height: 60px;
    display: block; }
    #header .ad a {
      background: url(../images/index_06.jpg) no-repeat left top;
      width: 20px;
      height: 20px;
      position: absolute;
      right: 5px;
      top: 5px; }
  #header .wraper {
    margin: 0 54px;
    width: 1200px;
    height: 86px;
    position: relative; }
    #header .wraper .log {
      background: url(../images/logo.png);
      width: 319px;
      height: 65px;
      position: absolute;
      left: 4px;
      top: 11px; }
    #header .wraper .days7 {
      background: url(../images/all.gif);
      position: absolute;
      width: 225px;
      height: 86px;
      top: 0;
      right: 0; }
    #header .wraper .search {
      position: absolute;
      left: 368px;
      top: 18px; }
      #header .wraper .search p {
        width: 337px;
        height: 30px;
        border: solid 2px #ff6600;
        float: left; }
        #header .wraper .search p input {
          width: 330px;
          border: 0 solid #000;
          height: 30px;
          text-indent: 6px;
          color: #b7b7b7;
          outline: medium; }
      #header .wraper .search em {
        float: left; }
        #header .wraper .search em a {
          float: left;
          background: #ff6600;
          color: #fff;
          text-align: center;
          width: 98px;
          height: 34px;
          font: bolder 14px/34px simsun;
          border-radius: 0px 3px 3px 0; }
        #header .wraper .search em a:hover {
          text-decoration: none; }
      #header .wraper .search span {
        display: block;
        clear: both;
        line-height: 29px;
        padding-left: 5px; }
        #header .wraper .search span a {
          float: left;
          line-height: 29px; }
        #header .wraper .search span b {
          float: left;
          margin: 0 15px;
          line-height: 29px; }

#menu {
  width: 1308px;
  height: 40px;
  background: #10286c;
  position: relative; }
  #menu .innermenu {
    position: absolute;
    left: 54px;
    top: 0; }
    #menu .innermenu h3 {
      line-height: 40px;
      width: 179px;
      text-indent: 20px;
      background: url(../images/bg.png) no-repeat 120px -1252px #ff6600; }
      #menu .innermenu h3 a {
        color: #fff;
        display: block;
        font: 14px/40px "microsoft yahei"; }
      #menu .innermenu h3 a:hover {
        text-decoration: none; }
    #menu .innermenu .menulist {
      position: absolute;
      top: 40px;
      left: 0;
      width: 174px;
      height: 467px;
      border: 2px solid #ff6600;
      border-top: none;
      display: none; }
  #menu .nav {
    position: absolute;
    left: 243px;
    top: 0;
    width: 520px;
    height: 40px; }
    #menu .nav li {
      float: left; }
    #menu .nav a {
      color: #fff;
      display: block;
      font: 14px/40px "microsoft yahei";
      padding: 0 20px; }
    #menu .nav a:hover {
      text-decoration: none;
      background: #295dd7; }
  #menu .utility {
    width: 230px;
    height: 40px;
    position: absolute;
    right: 54px;
    top: 0; }
    #menu .utility .mycart {
      width: 112px;
      height: 36px;
      border: 2px solid #ff6600;
      background: #ff6600;
      position: absolute;
      left: 0;
      top: 0; }
    #menu .utility dt {
      width: 70px;
      height: 22px;
      margin-top: 8px;
      padding: 0px 29px 0 13px; }
      #menu .utility dt a {
        color: #fff;
        width: 70px;
        height: 22px;
        line-height: 22px; }
        #menu .utility dt a strong {
          display: inline-block;
          margin: 0 3px;
          width: 16px;
          height: 22px;
          color: #ffb380;
          font-weight: bold;
          text-align: center;
          line-height: 22px; }
        #menu .utility dt a span {
          background: url(../images/bg.png) no-repeat left -1242px;
          width: 8px;
          height: 4px;
          display: inline-block;
          position: absolute;
          top: 18px;
          right: 8px; }
    #menu .utility .favor {
      position: absolute;
      right: 0;
      top: 0;
      border: 2px solid #ff6600;
      background: #ff6600;
      width: 112px;
      height: 36px; }
      #menu .utility .favor dt {
        border-left: 1px solid #fa8b29;
        padding-left: 25px; }
      #menu .utility .favor span {
        right: 12px; }

#crumb {
  width: 1200px;
  padding: 0 54px;
  height: 29px;
  line-height: 29px;
  background: #f0f0f0; }
  #crumb span {
    font-family: tahoma;
    width: 9px;
    height: 29px;
    padding: 0 5px; }
  #crumb strong {
    color: #333;
    font-weight: normal;
    padding: 0; }

#main {
  width: 1200px;
  padding: 0 54px;
  overflow: hidden; }
  #main #left {
    width: 179px;
    overflow: hidden; }
    #main #left .leftmenu {
      width: 177px;
      overflow: hidden;
      border: 1px solid #f3ce76; }
      #main #left .leftmenu dt {
        width: 177px;
        height: 29px;
        border-bottom: 1px solid #f3ce76;
        font-size: 14px;
        line-height: 29px;
        cursor: pointer;
        padding-left: 23px;
        background: url(../images/list/leftmenu.png) no-repeat 9px -35px #ffdc93;
        color: #845400; }

#footer {
  width: 1200px;
  margin: 100px 54px 0 54px;
  height: 407px; }
  #footer .helpcenter {
    height: 185px;
    width: 1200px;
    padding-left: 18px; }
    #footer .helpcenter .hc1, #footer .helpcenter .hc2, #footer .helpcenter .hc3, #footer .helpcenter .hc4, #footer .helpcenter .hc5 {
      float: left;
      width: 208px;
      height: 185px;
      padding: 0 10px 0 18px;
      border-right: 1px solid #dbdbdb; }
      #footer .helpcenter .hc1 dt, #footer .helpcenter .hc2 dt, #footer .helpcenter .hc3 dt, #footer .helpcenter .hc4 dt, #footer .helpcenter .hc5 dt {
        padding: 0 0 10px 28px;
        background: url(../images/helpcenter.gif) no-repeat;
        height: 20px;
        font: bolder 14px/20px tahoma; }
    #footer .helpcenter dd {
      height: 22px;
      line-height: 22px;
      padding-left: 28px;
      background: url(../images/list.jpg) no-repeat 16px center; }
    #footer .helpcenter .hc2 dt {
      background-position-y: -113px; }
    #footer .helpcenter .hc3 dt {
      background: url(../images/SpecialServies.png) no-repeat 1px 3px; }
    #footer .helpcenter .hc4 dt {
      background-position-y: -152px; }
    #footer .helpcenter .hc5 {
      border-right: none; }
      #footer .helpcenter .hc5 dt {
        background-position-y: -190px; }
  #footer .footer {
    height: 112px;
    width: 1200px;
    padding: 80px 0 30px 0;
    text-align: center;
    color: #484848; }
    #footer .footer a {
      color: #484848; }
    #footer .footer .ft1 {
      width: 123px;
      height: 45px;
      background: url(../images/logo_02.png) no-repeat left top;
      display: inline-block; }
    #footer .footer .ft2 {
      width: 116px;
      height: 45px;
      background: url(../images/logo_02.png) no-repeat left -92px;
      display: inline-block; }
    #footer .footer .ft3 {
      width: 130px;
      height: 45px;
      background: url(../images/logo_02.png) no-repeat left -276px;
      display: inline-block; }
    #footer .footer .ft4 {
      width: 127px;
      height: 45px;
      background: url(../images/logo_02.png) no-repeat left -326px;
      display: inline-block; }
    #footer .footer .ft5 {
      width: 106px;
      height: 45px;
      background: url(../images/logo_02.png) no-repeat left -376px;
      display: inline-block; }
    #footer .footer p {
      padding: 5px 0 10px 0; }
    #footer .footer span {
      color: #484848;
      font: 12px tahoma; }

/*# sourceMappingURL=list.css.map */
