$color_org:#ff6600;
@mixin opacity($opacity:50){opacity: $opacity/100;filter: alpha(opacity=$opacity);}


html,body,ul,li,ol,dl,dd,dt,p,b,input,select,em,i,h1,h2,h3,h4,h5,h6,form,fieldset,legend,img,span,strong { margin:0; padding:0; } 
fieldset, img,input { border:none; } 
img{display: block;} 
address, caption, cite, code, dfn, th, var { font-style:normal; font-weight:normal; } 
ul,li,ol { list-style:none; } 
body { color:#333; padding:5px 0; font:12px/20px "SimSun","microsoft yahei","Arial Narrow",HELVETICA; background:#fff;/* overflow-y:scroll;*/ overflow-x:hidden;}
a,b{ color:#666;text-decoration: none;} 
b{font-weight: normal;}
a:visited { color:#666; } 
a:hover, a:active, a:focus { text-decoration: underline;} 
.mainbtn{display: inline-block;text-align:center;background: #f7661f;height:23px;width: 44px;border: 1px solid #f7661f;
    border-radius:2px ;color: #fff;font: normal 12px/23px simsun;cursor: pointer;}
.mainbtn:hover{text-decoration: none;background: #ff971c;border: 1px solid #ff971c}    
   


#topbar{width:1308px;height: 24px;background: #f1f1f1;border-bottom: 1px solid #e2e2e2;position: relative;
    ul{padding-left: 60px; line-height:24px;float: left;width: 200px;
    li{width: 50px;padding: 0 15px;float:left;};
    li:nth-child(2n+1){background: url(../images/topbar.png) no-repeat left 7px;};
    li:nth-child(2n+1):hover{background: url(../images/topbar.png) no-repeat left -13px;}
    li:nth-child(2n){background: url(../images/topbar.png) no-repeat left -127px;padding-left: 22px;};
    li:nth-child(2n):hover{background: url(../images/topbar.png) no-repeat left -152px;};
    };
    p{float: right;a{width:44px;text-align: center;line-height: 24px;}};
    dl{float:right;line-height: 24px;padding: 0 58px 0 15px;
    dd{float: left;width:62px;padding: 0 8px;a{float: left;};a:hover { text-decoration: none;};img{float: left;padding:10px 0 0 8px;}};
    dt{float: left;width:50px;padding: 0 8px;}};
    .myegg{position: absolute;top:24px;left:987px;width: 101px;line-height: 35px;height:35px;background: #fff;border: 1px solid #000;clear: both;box-shadow: 2px 2px 5px rgba(0,0,0,0.2);display: none;
    border: 1px solid #eee;z-index:5;padding-left: 17px;a{text-decoration: underline;display: inline;float: none;color: #039;};a:hover{text-decoration: underline;}}
    .sevice{position: absolute;top:24px;left:1103px;width:126px;height: 93px;padding: 3px 10px 6px 10px;box-shadow: 2px 2px 5px rgba(0,0,0,0.2);background:#fff;border: 1px solid #eee;z-index:5;display: none;
    dl{height: 36px;padding: 5px 0 0 10px;width: 115px;overflow: hidden;dt{color:#fe7b23;font:bold 14px/18px tahoma;width: 115px;padding: 0;};dd{font:bold 12px/18px tahoma;width: 115px;padding: 0;}};
    span{display:inline-block;height: 18px;padding:0 0 8px 10px;width: 115px;line-height: 18px;font-family: tahoma;clear: both;}
    a{display: block;float: left;background: #4f9ee7;height: 25px;width: 60px;line-height: 25px;color: #fff;text-align: center;}
    a:hover{text-decoration: none;};
    .youj{margin-left:4px;}; 
    };.active{background-color: #fff;border: 1px solid #fff;}
}
    
#header{width:1308px;
    .ad{margin: 0 54px;position: relative;width: 1200px;height: 60px;display: block;
    a{background: url(../images/index_06.jpg) no-repeat left top;width: 20px;height: 20px;position: absolute;right: 5px;top: 5px;}};
    .wraper{margin: 0 54px;width: 1200px;height:86px;position: relative;
    .log{background: url(../images/logo.png);width:319px;height: 65px;position: absolute;left: 4px;top: 11px;};
    .days7{background: url(../images/all.gif);position: absolute;width: 225px;height: 86px;top: 0;right: 0;};
    .search{position: absolute;left: 368px;top: 18px;
        p{width:337px;height:30px;border: solid 2px $color_org;float: left;
        input{width:330px;border:0 solid #000;height: 30px;text-indent: 6px;color:#b7b7b7;outline:medium;}};

        em{float:left;a{float: left;background: $color_org;color:#fff;text-align: center;width: 98px;height: 34px;font:bolder 14px/34px simsun;border-radius: 0px 3px 3px 0;}
        a:hover{text-decoration: none;}};
        span{display: block;clear: both;line-height: 29px;padding-left: 5px;
            a{float: left;line-height: 29px;};b{float: left;margin: 0 15px;line-height: 29px;};};
    };};}
#menu{width: 1308px;height: 40px;background: #10286c;position: relative;
    .innermenu{
        position: absolute;left:54px;top:0;
        h3{line-height: 40px;width:179px;text-indent: 20px;background: url(../images/bg.png) no-repeat 120px -1252px $color_org;
        a{color:#fff;display: block;font:14px/40px "microsoft yahei"};
        a:hover{text-decoration: none;};}
        .menulist{position: absolute;top:40px;left:0;width: 174px;height: 467px;border:2px solid $color_org;border-top:none;display: none;}
    };
    .nav{position: absolute;left:243px;top:0;width: 520px;height: 40px;
    li{float: left;}; a{color:#fff;display: block;font:14px/40px "microsoft yahei";padding: 0 20px;};
    a:hover{text-decoration: none;background: #295dd7;};};
    
    .utility{width: 230px;height: 40px;position: absolute;right: 54px;top: 0;
    .mycart{width: 112px ;height: 36px;border:2px solid $color_org;background: $color_org;position: absolute;left: 0;top: 0;}
    dt{width: 70px;height: 22px;margin-top: 8px;padding: 0px 29px 0 13px;
    a{color: #fff;width: 70px;height: 22px;line-height: 22px;
    strong{display:inline-block;margin: 0 3px;width: 16px;height: 22px;color: #ffb380;font-weight: bold;text-align: center;line-height: 22px;};
    span{background: url(../images/bg.png) no-repeat left -1242px;width: 8px;height: 4px;display: inline-block;position: absolute;top: 18px;right: 8px;}
}};
    .favor{position: absolute;right: 0;top: 0;border:2px solid $color_org;background: $color_org;width: 112px ;height: 36px;
    dt{border-left: 1px solid #fa8b29;padding-left: 25px;};span{right:12px}}
    a:hover{text-decoration: none;}
    }
}
#crumb{width: 1200px;padding: 0 54px;height: 29px;line-height: 29px;background: #f0f0f0;
 span{font-family: tahoma;width: 9px;height: 29px;padding: 0 5px;}
 strong{color: #333;font-weight: normal;padding: 0;};}
 
 #main{width: 1200px;padding: 0 54px;overflow: hidden;
 
 
 #left{width: 179px;overflow: hidden;float: left;
     .leftmenu{width: 177px;overflow: hidden;border: 1px solid #f3ce76;
     dt{width: 177px;height: 29px;border-bottom: 1px solid #f3ce76;font-size: 14px;line-height: 29px;cursor: pointer;padding-left: 23px;background: url(../images/list/leftmenu.png) no-repeat 9px -35px #ffdc93;color: #845400;};
     dd{width: 177px;overflow: hidden;padding:5px 0;background: #fffff2;li{width: 143px;height: 24px;line-height: 24px;padding-left: 34px;background: url(../images/list/search_menu.png) no-repeat 24px -46px;a{color:#666}};
     .active{background-position: 24px -76px;a{font-weight: bold;color: $color_org;};}
     }};
     .hot_sales{width: 177px;height: 495px;margin: 10px 0;border: 1px solid #e6e6e6;overflow: hidden;
     h3{width: 89px;height: 29px;padding: 0 10px;border-bottom:1px solid #e6e6e6;}
     ul{width: 177px;height: 466px;overflow: hidden;
     li{height: 162px;height: 60px;padding: 16px 8px 16px 7px;border-bottom: 1px solid #e6e6e6;
     img{width: 60px;height: 45px;float: left;};dl{width: 95px;height: 60px;float:left;overflow: hidden;padding-left: 5px;
     dt{width: 95px;height: 35px;padding-bottom: 4px;overflow: hidden;white-space:normal;word-break: break-all;a{color: #000;}}
     dd{width: 95px;height: 21px;color: $color_org;font: bolder 14px/21px arial; }}}}};
     .vote{width: 177px;height: 395px;border: 1px solid #e6e6e6;overflow: hidden;
     h3{width: 157px;height: 21px;padding: 10px;background: url(../images/list/vote.png) left bottom repeat-x;font: bolder 14px/21px tahoma;};
     p{width: 157px;height: 36px;padding: 0 10px;margin-top: 5px;font-weight: bolder;line-height: 18px;};
     ul{width: 177px;height:272px;
     li{width: 157px;height: 18px;padding: 8px 10px;line-height: 18px;color: #484848;
     span{padding-left: 5px;}};
     li:nth-child(2n){background: #f2f2f2;}};
     .action{width: 142px;height: 25px;padding: 8px 0 8px 35px;line-height: 25px;font-weight: normal;margin: 0;background: url(../images/list/vote_b.png) repeat-x;
     .mainbtn{margin-right:10px;color: #fff;}.result{color: #039;}}}
     }

  
 
 #right{float:right;width: 1010px;overflow: hidden;
     .righttop{width: 1008px;overflow: hidden;border: 1px solid #ccc;color: #484848;
     dt{width: 986px;height: 18px;padding: 6px 0 6px 22px;font: 14px/18px tahoma;background: #edf3fa;border-bottom: 1px solid #ccc;};
     dd{width: 953px;overflow: hidden;padding: 9px 0 6px 55px;font-size: 12px;font-family: tahoma;
     h3{float: left;height: 18px;width: 35px;line-height: 18px;padding-bottom: 26px;font-weight: bolder;}
     ul{li{ float: left;line-height: 18px;padding: 0 15px 4px 15px;span{color:#ccc}
     a:hover{color: $color_org;text-decoration: none;span{color:#666}}
     }}};
     .brand{height: 44px;width: 780px;overflow: hidden;width:953px;}
     .price{width:953px;overflow:hidden;line-height: 30px;border-top: 1px solid #e6e6e6;padding: 9px 0 6px 55px;position: relative;
     h3,li{padding-top: 5px;}
     .priceSearch{display: inline-block;height: 30px;overflow: hidden;
     .mainbtn{margin:0 0 2px 0;color: #fff;}}
     input{width: 36px;height: 23px;padding: 0 3px;border: 1px solid #ccc;margin: 0 5px 2px 5px;outline: medium;}
     em{font-style: normal;font-family: arial;}
     strong,b{width: 48px;height: 26px;position:absolute;right: 14px;top:5px;padding-left: 14px;background: url(../images/list/arrow.png) no-repeat -30px -23px;color: #039;cursor: pointer;font-weight: normal;};
     b{display: none;float：right;color: #039;}}};
     
     .select_point{width: 1010px;height: 118px;margin: 10px 0 40px 0;
     .point_top{width: 1010px;height: 39px;overflow: hidden;
     ul{float: left;
     li{float: left;height: 37px;border: 1px solid #ccc;margin-right: -1px;position: relative;text-align: center;cursor: pointer;};};
     .prorank{width: 268px;height: 39px;
     li{padding: 0 24px 0 12px;}
     em{display: block;position: absolute;top: 18px;right: 12px;width: 6px;height: 4px;background: url(../images/list/icon_prorank.png) -40px top no-repeat;}
     a{display: block;height: 37px;line-height: 37px;};
     .pro_price{background-position: -40px -20px;}
     .pro_active{z-index: 1;color: #ff6c00; border: 1px solid #f9ae45;background: #fff0d9;
     em{background-position: -40px -10px;}}};
     .layout{width: 78px;height: 39px;
     li{width: 38px;
     a{width: 18px;height: 18px;display: block;position:absolute ;top: 10px;left: 10px;}
     .chuc{background: url(../images/list/icon_prorank.png) no-repeat left top;};
     .chuc_active{background: url(../images/list/icon_prorank.png) no-repeat left -18px;};
     .lieb{background: url(../images/list/icon_prorank.png) no-repeat -18px top;};
     .lieb_active{background: url(../images/list/icon_prorank.png) no-repeat -18px -18px;}};
     .layout_active{z-index: 1; border: 1px solid #f9ae45;background: #fff0d9;}
    };
    .displaynum{width:117px;height: 39px;
    li{width: 38px;a{display: block;height: 37px;line-height: 37px;}}
    .num_active{z-index:1;background: #fff0d9;border: 1px solid #f9ae45;a{color: #ff6c00;}}
    }
    p{width: 279px;height: 37px;border-top:1px solid #ccc ;border-bottom: 1px solid #ccc;float: left;}
    .prosearch{width: 259px;height: 31px;border:1px solid #ccc ;float: left;padding: 6px  0 0 7px;
    input{display:inline-block;float:left;width: 180px;height: 13px;padding: 5px 10px ;border: 1px solid #d8d8d8;background: #f3f3f3;color: #B7B7B7;outline: medium;margin-right: 5px;font-family: tahoma,arial;}
    .mainbtn{float: left;color: #fff;}}
}
    .point_center{width:1001px;height: 38px;border: 1px solid #ccc;border-top: none;padding-right: 7px;
    ul{float: left;width: 612px;height: 18px;padding: 10px;
    li{float: left;padding-left: 14px;input{display:inline-block;margin-right: 3px;height: 12px;line-height: 12px;}}}
    };
    
    
    .point_bottom{width: 1008px;border: 1px solid #ccc;border-top: none;height: 39px;
    li{float:left;width:42px;font: bold 24px/39px "microsoft yahei",arial;color: #e5e5e5;border-left:  1px solid #ccc;height: 39px;text-align: center;line-height: 39px;};
    .first{width: 66px;font:normal 12px/39px tahoma;color: #484848;border-left: none;};
    .last{width: 716px;height:32px;padding:7px 0 0 10px; .mainbtn{margin-right: 10px;float: left;};
    a{float:left;font: normal 12px/25px tahoma;color:#039;}}}
};  


#listbody{width: 1010px;overflow: hidden;
    ul{color: #484848;font-family: tahoma;font-size: 12px;
    li{float: left;width: 221px;height: 340px;padding: 0px 15px 20px 15px;
    .listimg{width: 221px;height: 168px;margin: 20px 0 5px 0;
    img{width: 180px;height: 135px;margin: 0 auto;};
    .seven{display: block;width:37px;height: 34px;background: url(../images/list/pro.png) no-repeat -68px -376px;}};
    .listtext{width: 221px;height: 147px;overflow: hidden;
    .jianjie{width: 221px;height: 57px;a{display: block;background: url(../images/list/overseashopping.png) no-repeat left 4px;text-indent: 70px;width: 221px;height: 36px;overflow: hidden;line-height: 18px;}
    span{display: block;height: 221px;height: 18px;padding-top: 3px;line-height: 18px;overflow: hidden;color: #84984f;};
    };
    dl{width: 221px;height: 45px;padding-top: 5px;
    dt{width: 221px;height: 18px;padding-bottom: 3px;a{display: block;background: url(../images/index/flat_rank.gif) no-repeat left -121px;color: #039;height: 12px;line-height: 18px;width: 21px;padding-left: 65px;}
    a:hover{text-decoration: none;color: $color_org;}};
    dd{width: 221px;height: 24px;line-height: 24px;span{color: $color_org;font: bold 16px/24px arial;};del{color: #999;}}
};
    .listinput{width: 191px;height: 25px;padding: 15px 0 0 30px;
    .mainbtn{float: left;color: #fff;};
    .shouc{width: 44px;height: 23px;text-align: center;float: left;border: 1px solid #838383;border-radius: 2px;color: #000;margin: 0 8px 0 5px;};
    .bijiao{width: 52px;height: 23px;text-align: center;float: left;border: 1px solid #838383;border-radius: 2px;color: #000;};
    .shouc:hover,.bijiao:hover{text-decoration: none;border: 1px solid #E3E3E3;}
    }
    }
    }}
    

}
 
 
 
 }
 }




#footer{width:1200px;margin:100px 54px 0 54px;height: 407px;
    .helpcenter{height: 185px;width: 1200px;padding-left: 18px;
    .hc1,.hc2,.hc3,.hc4,.hc5{float: left;width: 208px;height: 185px;padding: 0 10px 0 18px;border-right:1px solid #dbdbdb ;
    dt{padding:0 0 10px 28px;background: url(../images/helpcenter.gif) no-repeat;height:20px;font:bolder 14px/20px tahoma;}};
    dd{height: 22px;line-height: 22px;padding-left: 28px;background: url(../images/list.jpg) no-repeat 16px center;};
    .hc2 dt{background-position-y:-113px ;}
    .hc3 dt{background: url(../images/SpecialServies.png) no-repeat 1px 3px ;}
    .hc4 dt{background-position-y:-152px ;}
    .hc5{border-right: none;dt{background-position-y:-190px;}} 
    ;}
    .footer{height: 112px;width: 1200px;padding: 80px 0 30px 0;text-align: center;color:#484848;
    a{color:#484848;};
    .ft1{width: 123px;height: 45px;background:url(../images/logo_02.png) no-repeat left top;display: inline-block;};
    .ft2{width: 116px;height: 45px;background: url(../images/logo_02.png) no-repeat left -92px;display: inline-block;};
    .ft3{width: 130px;height: 45px;background: url(../images/logo_02.png) no-repeat left -276px;display: inline-block;};
    .ft4{width: 127px;height: 45px;background: url(../images/logo_02.png) no-repeat left -326px;display: inline-block;};
    .ft5{width: 106px;height: 45px;background: url(../images/logo_02.png) no-repeat left -376px;display: inline-block;};
    p{padding: 5px 0 10px 0;};
    span{color:#484848;font: 12px tahoma};
    }
}
